<div class="col-10 col-lg-8">
    <div class="journey-entry-heading">
        <!-- For multiple positions, give emphasis on the company name-->
        <h5>{{ if .company.url }}<a href={{.company.url}}>{{ .company.name }}</a>{{ else }}{{ .company.name }}{{ end }}</h5>

        <!-- Total experience duration on a company is time between the starting date of the oldest position and ending date of most recent position -->
        {{ $oldestPosition := index (last 1 .positions) 0}}
        {{ $mostRecentPosition := index (first 1 .positions) 0}}
        <p class="text-muted">
            {{ $oldestPosition.start }} - {{ if $mostRecentPosition.end }}{{ $mostRecentPosition.end }}{{ else }}{{ i18n "present" }}{{ end }},
            {{ .company.location }}
        </p>
        <!-- Add company overview -->
        <p>{{ .company.overview | markdownify }}</p>
    </div>
    <!-- Add the positions information -->
    <div class="positions">
    {{ range $index,$position:= .positions }}
        <h6 class="designation">{{ $position.designation }}</h6>
        <p class="text-muted">{{ $position.start }} - {{if $position.end }} {{ $position.end }} {{else}} {{ i18n "present" }} {{end}}</p>
        <!-- Add the responsibilities handled at this position -->
        <ul class="justify-content-around">
        {{ range $position.goals }}
            <li>{{ . | markdownify }}</li>
        {{ end }}
        </ul>
    {{ end }}
    </div>
</div>
