<div class="col-10 col-lg-8">
    <div class="journey-entry-heading">
        {{ $position:= index .positions 0 }}
        <!-- For single position, give emphasis on the designation-->
        <h5>{{ $position.designation }}</h5>
        <h6>{{ if .company.url }}<a href={{.company.url}}>{{ .company.name }}</a>{{ else }}{{ .company.name }}{{ end }}</h6>
        <!-- Add experience duration info -->
        <p class="text-muted">{{ $position.duration }},
            {{ .company.location }}
        </p>
    </div>
    <!-- Add company overview -->
    <p>{{ .company.overview | markdownify }}</p>
    <!-- Add the goals handled at this position -->
    {{ if $position.goals }}
        <h6 class="text-muted">{{ i18n "goals" }}</h6>
        <ul class="justify-content-around">
        {{ range $position.goals }}
            <li>{{ . | markdownify }}</li>
        {{ end }}
        </ul>
    {{ end }}
</div>
