<div class="post-card">
  <a href="{{ .Params.Link }}" target="_blank" class="post-card-link">
    <div class="card">
      <div class="card-head">
        <img class="card-img-top" src='{{ partial "helpers/get-hero.html" . }}'/>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ .Title }}</h5>
        <p class="card-text post-summary">{{ .Summary }}</p>
      </div>
      <div class="card-footer">
                <!-- Display project card technology tags -->
                <!-- <div class="project-card-footer"> -->
                  {{ if .Params.Tags }}
                    <div class="project-tags-holder">
                      {{ range $index,$tag:= .Params.Tags }}
                          <div class="badge btn-info">
                            {{ $tag }}
                          </div>
                      {{ end }}
                    </div>
                  {{ end }}
        <a href={{ .Params.Link }} target="_blank" class="float-right btn btn-outline-info btn-sm">{{ .Params.Position }}</a>
      </div>
    </div>
  </a>
</div>
