<div class="col-lg-4 col-md-6 pt-2 post-card">
  <a href="{{ .Params.Link }}" class="post-card-link">
    <div class="card">
      <div class="card-head">
        <img class="card-img-top" src='{{ partial "helpers/get-hero.html" . }}'
          alt="Card image cap"
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ .Title }}</h5>
        <p class="card-text post-summary"> {{ .Summary }}</p>
      </div>
      <div class="card-footer">
                <!-- Display project card technology tags -->
                <!-- <div class="project-card-footer"> -->
                  {{ if .Params.Tags }}
                    <div class="project-tags-holder">
                      {{ range $index,$tag:= .Params.Tags }}
                          <div class="badge btn-info">
                            {{ $tag }}
                          </div>
                      {{ end }}
                    </div>
                  {{ end }}
        <!--<span class="float-left">{{ .Date.Format "January 2, 2006" }}</span>-->
        <a href="{{ .Params.Link }}" class="float-right btn btn-outline-info btn-sm">{{ .Params.Position }}</a>
      </div>
    </div>
  </a>
</div>
