{{ $sectionID := replace (lower .section.name) " " "-"  }}
{{ if .section.id }}
  {{ $sectionID = .section.id }}
{{ end }}

<div class="container-fluid anchor pb-5 journey-section" id="{{ $sectionID }}">
  {{ if not (.section.hideTitle) }}
    <h1 class="text-center">{{ .section.name }}</h1>
  {{ end }}

  <div class="container timeline text-justify">
   {{ $totalSteps:= len .steps }}
   {{ range $index,$step:= .steps }}
     {{ if eq (mod $index 2) 0 }}
       <div class="row align-items-center  d-flex">
         {{ partial "sections/journey/vertical-line.html" $index }}
         {{ partial "sections/journey/journey-info.html" $step }}
       </div>
     {{else}}
       <div class="row align-items-center justify-content-end d-flex">
         {{ partial "sections/journey/journey-info.html" $step }}
         {{ partial "sections/journey/vertical-line.html" $index }}
       </div>
     {{ end }}
     {{ if lt $index (sub $totalSteps 1) }}
       {{ partial "sections/journey/horizontal-line.html" $index }}
     {{ end }}
   {{ end }}
  </div>
</div>
