{{ $sectionID := replace (lower .section.name) " " "-"  }}
{{ if .section.id }}
  {{ $sectionID = .section.id }}
{{ end }}

<div class="container-fluid anchor pb-5 recent-posts-section" id="{{ $sectionID }}">
  {{ if not (.section.hideTitle) }}
    <h1 class="text-center">{{ .section.name }}</h1>
  {{ end }}
  <div class="container">
    <div class="row" id="recent-post-cards">
      {{ range first 3 (where site.RegularPages.ByDate.Reverse "Type" "in" site.Params.mainSections )}}
        {{ partial "cards/recent-post.html" . }}
      {{ end }}
    </div>
  </div>
  <div class="btn-center">
  <a href="team/candidats">
    <button class="btn btn-dark">Tous les candidats</button></a>
  </div>
</div>
