.program-section .program-info-table {
    width: 100%;
}

.program-section .program-info-table tr {
    padding: 0.1rem;
}

.program-section .timeframe {
    color: #8392A5;
    text-align: right;
}
.program-section .icon {
    width: 2rem;
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

.program-section .icon .hline {
    position: absolute;
    left: 1rem;
    top: 0;
    background-color: #248aaa;
    height: 100%;
    width: 2px;
}

.program-section .program-info-table tr:first-child .hline {
    height: 60%;
    top: auto;
}

.program-section .program-info-table tr:last-child .hline {
    height: 50%;
}

.program-section .icon-holder {
    background-color: #248aaa;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    padding: 0.2rem;
    text-align: center;
    color: #e5e9f2;
    position: relative;
}

.program-section .line {
    width: 5%;
    padding-left: 0;
    padding-right: 0;
}

.program-section .line div {
    height: 2px;
    /* width: 100%; */
    margin-right: -1px;
    background-color: #248aaa;
}

.program-section .degree-info {
    padding: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-left: 2px solid #248aaa;
    border-top: 1px solid #C0CCDA;
    border-bottom: 1px solid #C0CCDA;
    border-right: 1px solid #C0CCDA;
    border-radius: 5px;
}

.program-section .degree-info h5{
    margin-bottom: 0.3rem;
}

.program-section .taken-courses table {
    margin-left: 1rem;
    width: 100%;
    transition: all 0.3s ease-out;
}

.program-section .taken-courses .hidden-course {
    display: none;
    transition: all 1s ease-out;
}

.program-section .taken-courses ul {
    margin-bottom: 0;
}

/*============ program Alter Template =============*/
.program-alt .degree-info{
    border-right: 2px solid #248aaa;
}


/* ============= Device specific fixes ======= */

/* Large screens such as TV */

@media only screen and (min-width: 1824px) {}

/* Extra large devices (large desktops, 1200px and up) */

@media (max-width: 1400px) {}

@media (max-width: 1200px) {}

/* IPad Pro */

@media (max-width: 1024px) {
    .program-section .container {
        padding-left: 0;
    }
}

/*  Large devices (desktops, 992px and up) */

@media (max-width: 992px) {}

/* Medium devices (tablets, 768px and up) */

@media only screen and (max-width: 768px) {}

/* Small devices (landscape phones, 576px and up) */

@media only screen and (max-width: 576px) {
    .program-section {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .program-section .container{
        padding-right: 0;
    }
    
    .program-section .icon {
        display: none;
    }
    .program-section .line{
        display: none;
    }
    .program-section .timeframe{
        text-align: left;
    }
}

/* iPhoneX, iPhone 6,7,8 */

@media only screen and (max-width: 375px) {}

/* Galaxy S5, Moto G4 */

@media only screen and (max-width: 360px) {}

/* iPhone 5 or before */

@media only screen and (max-width: 320px) {}